<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>GAMP - {% block title %}nieruchomości{% endblock %}</title>
        <!--title>{% block description %}Strona główna{% endblock %}</title-->
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" />
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

        <script type="text/javascript">
            // $(function() {
            // });
        </script>

        <script src="{{ asset('bundles/chiavecore/js/modernizr.js') }}"></script>
        <script src="{{ asset('bundles/chiavecore/js/vendor/fastclick.js') }}"></script>
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div class="fullWrapper">

                    <div class="topMenu">
                        {{ render(controller('ChiaveCMSBundle:Pages:renderMenu')) }}
                    </div><!-- end topMenu class -->
                </div><!--  end class fullWrapper for #header -->
            </div><!-- end div header -->

            <div id="content">
                <div class="fullWrapperPad">
                    <div class="column s7">
                        {% block body %}{% endblock %}
                    </div><!-- end column s7 -->

                    <div class="column s3">
                        {{ render(controller('ChiaveCMSBundle:Articles:importantArticles')) }}
                    </div><!-- end column s3 -->
            </div><!--  end fullWrapperPad for content -->
            </div><!-- end div content -->

            <div id="footer">
            </div><!--  end div footer -->
        </div><!-- end div page -->

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/chiavecore/js/foundation.min.js') }}"></script>
        <script src="{{ asset('bundles/chiavecore/js/foundation/foundation.clearing.js') }}"></script>
        <script type="text/javascript">

            $(document).foundation();
            $(document).ready(function(){
                $("#plainBoxToggle").click(function(){
                    $('#plainBoxTarget').slideDown();
                    $("#plainBoxToggle").hide();
                });

                $("#plainBoxToggle2").click(function(){
                    $('#plainBoxTarget').slideUp();
                    $("#plainBoxToggle").show();
                });

                $('#li1').click(function(){
                    $('#li2').removeClass("active");
                    $('#li1').addClass("active");
                    $('#tab1').show();
                    $("#tab2").hide();
                });

                $('#li2').click(function(){
                    $('#li1').removeClass("active");
                    $('#li2').addClass("active");
                    $('#tab2').show();
                    $("#tab1").hide();
                });
            });
        </script>
    </body>
</html>
