{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie stronami{% endblock %}
{% block description %}edycja strony{% endblock %}

{% block active_name %}cms_pages{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <a class="small button" href="{{ path('cms_pages') }}">
        Powrót do listy stron
    </a>

{% endblock %}

{% block javascripts -%}
    <script>
        function checkFields(element = $('#{{ edit_form.inMenu.vars.id }}')) {
            if ($(element).is(':checked')) {
                $('#{{ edit_form.menuName.vars.id }}').parent().slideDown();
                $('#{{ edit_form.position.vars.id }}').parent().slideDown();
            } else {
                $('#{{ edit_form.menuName.vars.id }}').parent().slideUp();
                $('#{{ edit_form.position.vars.id }}').parent().slideUp();
            }
        }

        $('#{{ edit_form.inMenu.vars.id }}').change(function(){
            checkFields($(this));
        });

        checkFields();
    </script>
{% endblock %}
