{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie stronami{% endblock %}
{% block description %}lista stron{% endblock %}

{% block body -%}
    <div class="row">
        <a class="button success right" href="{{ path('cms_pages_new') }}">
            Utwórz nową stronę
        </a>
    </div>
    <table class="records_list">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Tytuł</th>
                {# <th>Staticcontent</th> #}
                {# <th>Utworzona</th> #}
                <th>Edytowana</th>
                <th>Wpisów</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ page.title }}</td>
                {#<td>{{ page.staticContent }}</td>#}
                {# <td>{% if page.createdAt %}{{ page.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td> #}
                <td>{% if page.updatedAt %}{{ page.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ page.articles | length }}</td>
                <td>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" href="{{ path('cms_pages_edit', { 'id': page.id }) }}">Edytuj</a></li>
                            <li><a class="tiny button alert" href="{{ path('cms_pages_delete', { 'id': page.id }) }}">Usuń</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
