{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie stronami{% endblock %}
{% block description %}tworzenie nowej strony{% endblock %}

{% block active_name %}cms_pages{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="button small" href="{{ path('cms_pages') }}">
        Powrót do listy stron
    </a>

{% endblock %}

{% block javascripts -%}
    <script>
        function checkFields(element = $('#{{ form.inMenu.vars.id }}')) {
            if ($(element).is(':checked')) {
                $('#{{ form.menuName.vars.id }}').parent().slideDown();
                $('#{{ form.position.vars.id }}').parent().slideDown();
            } else {
                $('#{{ form.menuName.vars.id }}').parent().slideUp();
                $('#{{ form.position.vars.id }}').parent().slideUp();
            }
        }

        $('#{{ form.inMenu.vars.id }}').change(function(){
            checkFields($(this));
        });

        checkFields();
    </script>
{% endblock %}
