{% extends "ChiaveCoreBundle::frontendbase.html.twig" %}

{% block body -%}
        {{ page.staticContent }}

        {% for article in page.articles %}
            {{ render(controller('ChiaveCMSBundle:Articles:show', { id: article.id })) }}
        {% endfor %}

        {% if page.type == 1 %}

            <h1 class="mainHeader">FORMULARZE KONTAKTOWE</h1>
            <div class="tabWrapper">
                <ul>
                    <li id="li1" class="active">FORMULARZ KONTAKTOWY</li>
                    <li id="li2">FORMULARZ ZGŁOSZENIOWY</li>
                </ul>
                <div id="tab1" style="display: block;">
                    <div id="contactForm" class="contactForm">
                        {{ render(controller('ChiaveCMSBundle:Mails:renderForm', {'type':'contact'})) }}
                    </div>
                </div>
                <div id="tab2" style="display: none;">
                    <div id="raportForm"class="contactForm">
                        {{ render(controller('ChiaveCMSBundle:Mails:renderForm', {'type':'raport'})) }}
                    </div>
                </div>
            </div><!-- end tabWrapper -->

        {% elseif page.type == 2 %}

            <div class="boxWrapper">
                {{ render(controller('ChiaveCMSBundle:Pages:renderMainPage')) }}
            </div><!--  end div boxWrapper -->

        {% elseif page.type == 3 %}

            <div class="plainMeta borderBottomGrey">
                {{ render(controller('ChiaveCMSBundle:Pages:renderDownloadPage')) }}
            </div>

        {% elseif page.type == 4 %}

            <div class="plainMeta borderBottomGrey">
                {{ render(controller('ChiaveCMSBundle:Pages:renderGalleryPage')) }}
            </div>

        {% endif %}
{% endblock %}


{% if page.type == 1 %}
    {% block javascripts -%}
        <script>
            $('form').submit(function(e) {
                e.preventDefault();
                var form = $(this);
                var formId = $(this).parent().attr('id');
                var type;
                if (formId == 'contactForm') {
                    type = 'contact';
                } else if (formId == 'raportForm') {
                    type = 'raport';
                }

                var url = "{{ path('cms_mails_persist', {type:'__type__'}) }}";
                $.post(
                    url.replace('__type__', type),
                    $(this).serialize(),
                    function(data) {
                        console.log(data);
                        $('.form-msg').remove();
                        if (data.success) {
                            $(form)[0].reset();
                            $(form).before('<p class="form-msg form-success">Wiadomość została wysłana poprawnie.</p>');
                        } else {
                            $(form).before('<p class="form-msg form-error">Coś poszło nie tak. Spróbuj ponownie później.</p>');
                        }
                    }
                );

            });
        </script>
    {% endblock %}
{% endif %}
