{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie stronami{% endblock %}
{% block description %}podgląd wiadomości{% endblock %}

{% block active_name %}cms_mails{% endblock %}


{% block body -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Nadawca</th>
                <td>{{ mail.firstname }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ mail.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ mail.phone }}</td>
            </tr>
            <tr>
                <th>Utworzony</th>
                <td>{{ mail.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Wiadomość</th>
                <td>{{ mail.message | escape }}</td>
            </tr>
        </tbody>
    </table>
    <a class="button small" href="{{ path('cms_mails') }}">
        Powrót do listy wiadomości
    </a>
{% endblock %}
