{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}edycja artykułu{% endblock %}

{% block active_name %}cms_articles{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <a class="button small" href="{{ path('cms_articles') }}">
        Powrót do listy artykułów
    </a>
    {{ form(delete_form) }}

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">

    $('.fdatetimepicker').fdatetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'de'
	});
    CKEDITOR.replace( '{{ edit_form.content.vars.id }}' );

    $('#{{edit_form.type.vars.id}}').change(function() {
        var url = "{{ path('cms_articles_types', {type:'__type__'}) }}";
        $.post(
            url.replace('__type__', $(this).val()),
            function(data) {
                if (data.success) {
                    $('#{{edit_form.parent.vars.id}}').empty().append('<option value=""></option>');
                    $.each(data.articles, function( id, name ) {
                      $('#{{edit_form.parent.vars.id}}').append('<option value="'+id+'">'+name+'</option>');
                    });
                } else {
                    alert('Wystąpił straszny błąd :(');
                }
            });
    });

    //hide page if parent is choosen
    //hide parent if page is choosen
    //hide parent if type == 0 is choosen
    //

    $('#{{edit_form.type.vars.id}}').change();

</script>

{% endblock %}
