    <h3 class="headerNews">AKTUALNOŚCI</h3>
    <div class="infoBox">
        {% for article in importantArticles %}
        <div class="item">
            <div class="logo">
                <img alt="logo" src="
                    {% if article.icon %}{{ article.icon.webPath }}{% endif %}
                " />

            </div>
            <div class="meta">
                <p>{{ article.shortDescription }}</p>
                <a href="{{ path('cms_articles_show', {'id': article.id}) }}">Więcej...</a>
            </div>
            <div class="date">
                <img src="{{ asset('images/clock_icon.png') }}" />
                <span>
                    {# 06 Stycznia 2014 #}
                    {{ article.publicationDate | date('d F Y') }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div><!--  end div infoBox -->
