{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}lista artykułów{% endblock %}

{% block active_name %}cms_articles{% endblock %}


{% block body -%}

    <table class="records_list">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Tytuł</th>
                <th>Strona</th>
                <th>#Artykuły#</th>
                <th>Publikacja</th>
                {# <th>Utworzony</th> #}
                <th>Edytowany</th>
                <th>Ważny</th>
                <th>
                    <a class="tiny button success" href="{{ path('cms_articles_new') }}">
                        Utwórz nowy artykuł
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ loop.index }}</a></td>
                <td>{{ article.header }}</td>
                <td>{{ article.page }}</td>
                <td>
                {% for art in article.childrens %}
                    {{ art.id }};<br />
                {% endfor %}
                </td>
                <td>{% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d H:i:s') }}{% else %}-----{% endif %}</td>
                {# <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td> #}
                <td>{% if article.updatedAt %}{{ article.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.important == true %}tak{% else %}nie {% endif %}</td>
                <td>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" href="{{ path('cms_articles_edit', { 'id': article.id }) }}">Edytuj</a></li>
                            <li><a class="tiny button alert delete_button" href="{{ path('cms_articles_delete', { 'id': article.id }) }}">Usuń</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">
    $('.delete_button').click(function(e) {
        e.preventDefault();

        $.post(
            $(this).attr('href'),
            function(data) {
                if (data.success) {
                    $(this).closest('tr').remove();
                    // $(this).parent().parent().parent().parent().remove();
                    alert('Strona usunięta pomyślnie');
                } else {
                    alert('Wystąpił straszny błąd: '+data.error+' :(');
                }
            });
    });
</script>

{% endblock %}
