{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}lista artykułów{% endblock %}

{% block body -%}
    <div class="row">
        <a class="button success right" href="{{ path('cms_articles_new') }}">
            Utwórz nowy artykuł
        </a>
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Tytuł</th>
                <th>Strona</th>
                <th>Publikacja</th>
                {# <th>Utworzony</th> #}
                <th>Edytowany</th>
                <th>Ważny</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ loop.index }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.page }}</td>
                <td>{% if article.publicationDate %}{{ article.publicationDate|date('Y-m-d H:i:s') }}{% else %}-----{% endif %}</td>
                {# <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td> #}
                <td>{% if article.updatedAt %}{{ article.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.important == true %}tak{% else %}nie {% endif %}</td>
                <td>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" href="{{ path('cms_articles_edit', { 'id': article.id }) }}">Edytuj</a></li>
                            <li><a class="tiny button alert" href="{{ path('cms_articles_delete', { 'id': article.id }) }}">Usuń</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
