{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}tworzenie nowego artykułu{% endblock %}

{% block active_name %}cms_articles{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="button small" href="{{ path('cms_articles') }}">
        Powrót do listy artykułów
    </a>

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">

    $('.fdatetimepicker').fdatetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'pl'
	});
    CKEDITOR.replace( '{{ form.content.vars.id }}' );

    $('#{{form.type.vars.id}}').change(function() {
        var url = "{{ path('cms_articles_types', {type:'__type__'}) }}";
        $.post(
            url.replace('__type__', $(this).val()),
            function(data) {
                if (data.success) {
                    $('#{{form.parent.vars.id}}').empty().append('<option value=""></option>');
                    $.each(data.articles, function( id, name ) {
                      $('#{{form.parent.vars.id}}').append('<option value="'+id+'">'+name+'</option>');
                    });
                } else {
                    alert('Wystąpił straszny błąd :(');
                }
            });
    });

    $('#{{form.type.vars.id}}').change();

    function checkFields() {
        if ($('#{{ form.important.vars.id }}').is(':checked')) {
            $('#{{ form.shortDescription.vars.id }}').parent().slideDown();
            $('#{{ form.icon.vars.id }}').parent().slideDown();
        } else {
            $('#{{ form.shortDescription.vars.id }}').parent().slideUp();
            $('#{{ form.icon.vars.id }}').parent().slideUp();
        }

        if ($('#{{ form.type.vars.id }}').val() == 0) { //wpis
            $('#{{ form.expandable.vars.id }}').parent().slideDown();
            $('#{{ form.page.vars.id }}').parent().slideDown();
        } else {
            $('#{{ form.expandable.vars.id }}').parent().slideUp();
            $('#{{ form.page.vars.id }}').parent().slideUp();
        }

        if ($('#{{ form.type.vars.id }}').val() == 1 || $('#{{ form.type.vars.id }}').val() == 2) {
            $('#{{ form.parent.vars.id }}').parent().slideDown();
            $('#{{ form.page.vars.id }}').parent().slideDown();
        } else {
            $('#{{ form.parent.vars.id }}').parent().slideUp();
            $('#{{ form.page.vars.id }}').parent().slideUp();
        }

        if ($('#{{ form.parent.vars.id }}').val() != 0 || $('#{{ form.type.vars.id }}').val() == 0) {
            $('#{{ form.content.vars.id }}').parent().slideDown();
        } else {
            $('#{{ form.content.vars.id }}').parent().slideUp();
        }

    }

    $('#{{ form.important.vars.id }}, #{{ form.type.vars.id }}, #{{ form.parent.vars.id }}').change(function(){
        checkFields();
    });

    checkFields();




</script>

{% endblock %}
