{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}tworzenie nowego artykułu{% endblock %}

{% block active_name %}cms_articles{% endblock %}

{% block body -%}

    {{ form_start(form) }}
        {{ form_row(form.header) }}
        {{ form_row(form.staticContent) }}
        {{ form_row(form.important) }}
        {{ form_row(form.type) }}
        {{ form_row(form.expandable) }}
        {{ form_row(form.page) }}
        <div class="entries" data-prototype="{{ form_widget(form.entries.vars.prototype)|e }}">
            {# iterate over each existing entry and render its only field: name #}
            {% for entry in form.entries %}
                <div class="entry">
                    {{ form_row(entry.header) }}
                    {{ form_row(entry.content) }}
                </div>
            {% endfor %}
        </div>
        {{ form_row(form.content) }}
        {{ form_row(form.publicationDate) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">

    $('.fdatetimepicker').fdatetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'pl'
	});

    //Do not work!
    CKEconfig = {
        height: 500,
    };

    CKEDITOR.replace('{{ form.content.vars.id }}', CKEconfig);

    {#
    $('#{{form.type.vars.id}}').change(function() {
        var url = "{{ path('cms_articles_types', {type:'__type__'}) }}";
        $.post(
            url.replace('__type__', $(this).val()),
            function(data) {
                if (data.success) {
                    $('#{{form.parent.vars.id}}').empty().append('<option value=""></option>');
                    $.each(data.articles, function( id, name ) {
                        $('#{{form.parent.vars.id}}').append('<option value="'+id+'">'+name+'</option>');
                    });
                    checkFields();
                } else {
                    alert('Wystąpił straszny błąd :(');
                }
            });
    });
    #}

    function checkFields() {
        if ($('#{{ form.type.vars.id }}').val() == 0) {
            $('#{{ form.expandable.vars.id }}').parent().slideDown();
            $('#{{ form.content.vars.id }}').parent().slideDown();
            $('.entries').slideUp();

        } else if ($('#{{ form.type.vars.id }}').val() == 1 || $('#{{ form.type.vars.id }}').val() == 2) {
            $('#{{ form.expandable.vars.id }}').parent().slideUp();
            $('#{{ form.content.vars.id }}').parent().slideUp();
            $('.entries').slideDown();
        }

        if ($('#{{ form.important.vars.id }}').is(':checked')) {
            $('#{{ form.shortDescription.vars.id }}').parent().slideDown();
            $('#{{ form.icon.vars.id }}').parent().slideDown();
        } else {
            $('#{{ form.shortDescription.vars.id }}').parent().slideUp();
            $('#{{ form.icon.vars.id }}').parent().slideUp();
        }
    }

    $('#{{ form.important.vars.id }}, #{{ form.type.vars.id }}, #{{ form.page.vars.id }}').change(function(){
        checkFields();
    });

    checkFields();

    $('form').submit(function(e) {
        $('#{{ form.vars.id }} :input').each(function() {
            if($(this).is(':hidden') && $(this).attr('id') != '{{ form._token.vars.id }}') {
                $(this).val('')
                      .removeAttr('checked')
                      .removeAttr('selected')
                ;
            }
        });
    });




    var $collectionHolder;

    var $addEntryLink = $('<a href="#" class="add_entry_link button tiny right">Dodaj podelement</a>');
    var $newLink = $('<div></div>').append($addEntryLink);

    $(document).ready(function() {
        $collectionHolder = $('div.entries');

        $collectionHolder.find('div.entry').each(function() {
            addEntryFormDeleteLink($(this));
        });

        $collectionHolder.append($newLink);

        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addEntryLink.on('click', function(e) {
            e.preventDefault();

            addEntryForm($collectionHolder, $newLink);
        });
    });

    function addEntryForm($collectionHolder, $newLink) {
        var prototype = $collectionHolder.data('prototype');

        var index = $collectionHolder.data('index');

        var newForm = prototype.replace(/__name__/g, index);

        $collectionHolder.data('index', index + 1);

        var $newFormLi = $('<div class="entry"></div>').append(newForm);
        $newLink.before($newFormLi);

        addEntryFormDeleteLink($newFormLi);

        CKEDITOR.replace($(newForm).find('.content').attr('id'), CKEconfig);
    }

    function addEntryFormDeleteLink($entryFormLi) {
        var $removeFormA = $('<a href="#" class="button tiny alert">Usuń</a>');
        $entryFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();

            $entryFormLi.remove();
        });
    }

</script>

{% endblock %}
